---

---

<footer class="relative z-30 w-full bg-[#010101] text-white">
    <h4 class="p-3 text-center">&#xa9; 2025 Derechos reservados a la <a href="https://www.vatican.va/content/vatican/es.html">Iglesia Católica</a></h4>
</footer>