---
import Image from "astro/components/Image.astro"
import Francisco from "../assets/images/PapaFrancisco.jpg"
import Abrazo from "../assets/images/abrazo_Jesus_Franciscus.jpg"
---

<header id="inicio" class="relative z-30 w-full flex flex-col items-end min-h-[700px] h-screen max-h-[850px]">
    <div class="absolute z-20 w-full h-full top-0 left-0 opacity-50 bg-gradient-to-b from-black from-5% to-95% to-transparent"></div>
    <div class="absolute z-10 w-full h-full top-0 left-0">
        <Image class="w-full h-full transition ease-in-out duration-150 delay-100 object-cover sm:object-top-left" src={Francisco} alt={'Papa Francisco'}/>
    </div>

    <div class="relative z-30 w-full py-10 h-full flex flex-col items-end justify-end">

            <Image class="px-5 hidden lg:block fill-cyan-500 drop-shadow-lg drop-shadow-cyan-500/50" src={Abrazo} alt={"Abrazo entre Jesús y Francisco"}/>

        <div class="text-white text-3xl ml-5 text-left backdrop-blur-sm bg-black/50 px-4 py-2">
            <h2 class="text-2xl italic font-light">"La misericordia es el primer atributo de Dios. Es su nombre."</h2>
            <h2 class="text-lg mt-2 text-right font-normal">— Papa Francisco, 2016</h2>
        </div>
    </div>
</header>


