---

---

<section id="legado" class="relative z-30 w-full xl:h-screen xl:max-h-[850px] flex justify-center items-center bg-[#010101]">
    <article class="w-full h-full relative flex justify-center xl:justify-end">
       

    </article>
      
</section>